name: Ping Render API

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

jobs:
  ping:
    runs-on: ubuntu-latest

    steps:
      - name: Call API
        run: curl -I https://encurta-api.onrender.com/api/health
